<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	    <meta charset="utf-8">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	    <title>Riot Wiki</title>
	</head>
	<body>
	    {{{body}}}
	</body>
</html>