<h1 id='title-bar'>Riot Wiki</h1>
<h4 id='source-bar'>All information provided by <a href=http://listverse.com/2014/02/07/10-deadliest-riots-in-history/>Listverse.com</a></h4>

<sidebar class='sidebar-parts'></sidebar>
<article class='article-parts'></article>

<!-- include the tags -->
<script src="/views/sidebar.tag" type="riot/tag"></script>
<script src="/views/article.tag" type="riot/tag"></script>

<!-- include riot.js -->
<script src="//cdn.jsdelivr.net/g/riot@2.0(riot.min.js+compiler.min.js)"></script>

<!-- mount the tags -->
<script>

$.get('/article').done(function(articles) {
	riot.mount('*', {
		articles: articles,
		article: articles[0]
	})
}).error(console.error)

</script>