<h1>Riot Wiki</h1>

<sidebar class='sidebar-parts'></sidebar>
<article class='article-parts'></article>

<!-- include the tags -->
<script src="/views/sidebar.tag" type="riot/tag"></script>
<script src="/views/article.tag" type="riot/tag"></script>

<!-- include riot.js -->
<script src="//cdn.jsdelivr.net/g/riot@2.0(riot.min.js+compiler.min.js)"></script>

<!-- mount the tags -->
<script>

$.get('/article').done(function(articles) {
	riot.mount('*', {
		articles: articles,
		article: articles[0]
	})
}).error(console.error)

</script>